<section id="hero" class="hero">

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Sell your car in any condition hassle free!</h2>
        <p>Online quotes and immediate payment on pick up!</p>
        <app-car-selection></app-car-selection>
        <br /><br />
        <!-- <div class="tab">
              <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Licence plate</button>
              <button class="tablinks" onclick="openCity(event, 'Paris')">VIN</button>
              <button class="tablinks" onclick="openCity(event, 'Tokyo')">Make / Model</button>
            </div>

            <div id="London" class="tabcontent">
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-sm-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>
              </div>
              <br />
              <input type="submit" class="btn btn-primary width-100" value="Get my quote">
            </div>

            <div id="Paris" class="tabcontent">
              <h3>VIN</h3>
              <p>Vin details</p>
            </div>

            <div id="Tokyo" class="tabcontent">
              <h3>Make / Model</h3>
              <p>Details</p>
            </div>

            <script>
              function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                  tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                  tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
              }

              // Get the element with id="defaultOpen" and click on it
              document.getElementById("defaultOpen").click();
            </script> -->

      </div>
      <div class="col-lg-6">
        <div>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="height: 420px;">
          <div class="carousel-indicators" style="margin-top: 32px;">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
              aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""
              aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
              class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"
              class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"
              class=""></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" style="height: 400px;">
              <img src="assets/img/testimonials/home-carosoul-1.png" style="height: 100%; width: 100%; " alt="">
            </div>
            <div class="carousel-item" style="height: 400px;">
              <img src="assets/img/testimonials/home-carosoul-2.png" style="height: 100%; width: 100%; " alt="">
            </div>
            <div class="carousel-item" style="height: 400px;">
              <img src="assets/img/testimonials/home-carosoul-3.png" style="height: 100%; width: 100%; " alt="">
            </div>
            <!-- <div class="carousel-item" style="height: 400px;">
                  <div class="container">
                    <div class="carousel-caption">
                      <img src="assets/img/testimonials/testimonials-4.jpeg"
                        style="height: 120px; width: 120px; border-radius: 50%;" alt="">
                      <h3>Kumar</h3><br />
                      <span>"My A1 German sessions went very well at MIFL. The trainer was very encouraging and helped
                        me
                        through the entire session step by step.
                        I was pleased with one to one sessions,all the tips and personalized information given to help
                        my
                        needs.
                        This course helped me to become more comfortable with the language. The trainer was very
                        thorough,well
                        planned took careful measures in helping me grasp the language.
                        Really helpfull.Thank You very much."</span><br />
                    </div>
                  </div>
                </div> -->
            <!-- <div class="carousel-item" style="height: 400px;">
                  <div class="container">
                    <div class="carousel-caption">
                      <img src="assets/img/testimonials/testimonials-5.jpeg"
                        style="height: 120px; width: 120px; border-radius: 50%;" alt="">
                      <h3>Umesh K T</h3><br />
                      <span>"If you are studying Deutsch, Learning with MIFL is the answer. The nicest aspect is that is
                        used,
                        to be incorporating with the timetable
                        when I couldn't make it to class because of my busy schedule when I started my German A2 while
                        employed.
                        I highly recommend MIFL , because they will do their best for you to learn and understand
                        Deutsch.
                        It has helped me to communicate easier. A big thanks to Meghana. German Language is a very
                        interesting
                        and beautiful language.
                        I am sure you will enjoy learning it too."</span><br />
                    </div>
                  </div>
                </div> -->
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      </div>
    </div>
  </div>

</section><!-- End Hero Section -->

<section id="clients" class="clients">

  <div class="container-fluid">

    <div class="row gy-4">

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="assets/img/clients/logo1.png" class="img-fluid" alt="">
      </div><!-- End Client Item -->

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="assets/img/clients/logo2.png" class="img-fluid" alt="">
      </div><!-- End Client Item -->

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="assets/img/clients/logo3.png" class="img-fluid" alt="">
      </div><!-- End Client Item -->

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="assets/img/clients/logo4.png" class="img-fluid" alt="">
      </div><!-- End Client Item -->

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="assets/img/clients/logo5.png" class="img-fluid" alt="">
      </div><!-- End Client Item -->

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="assets/img/clients/logo6.png" class="img-fluid" alt="">
      </div><!-- End Client Item -->

    </div>

  </div>

</section>

<section id="recent-posts" class="recent-posts">

  <!--  Section Title -->
  <div class="container section-title">
    <h2>HOW IT WORKS</h2>
    <p>We follow 3 simple steps</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-3">
        <img src="assets/img/traffic-light.png" align="center" alt="yellow-light">
      </div>

      <div class="col-lg-9">

        <div class="margin-top-62">
          <h2 class="how-it-works-headding">Tell Us about your car</h2>
          <p class="black-color">Provide information regarding the current state of your car and other basic details.
            You'll receive
            your offer!</p>
        </div>
        <br /><br />
        <div class="margin-top-62">
          <h2 class="how-it-works-headding">Get your best price</h2>
          <p class="black-color">Receive a no-hassle offer that is good for up to 7 days. All we need is some simple
            documentation.</p>
        </div>
        <br /><br />
        <div class="margin-top-62">
          <h2 class="how-it-works-headding">We pick it, You get paid</h2>
          <p class="black-color">Our designated pickup affiliate will perform a brief inspection, issue you a check and
            elegantly tow
            away your vehicle.</p>
        </div>

      </div>
    </div>

  </div>

</section>
<!-- End How It Works Section -->

<!-- Testimonials Section - Home Page -->
<section id="testimonials" class="testimonials">

  <div class="container">

    <div class="row align-items-center">

      <div class="col-lg-5 info">
        <h3>Testimonials</h3>
        <p>
          Listen to what our customers have to say
        </p>
      </div>

      <div class="col-lg-7">

        <div class="swiper">
          <!-- <template class="swiper-config">
                {
                "loop": true,
                "speed" : 600,
                "autoplay": {
                "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
                }
                }
              </template> -->
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="d-flex">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Saul Goodman</h3>
                    <h4>Ceo & Founder</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Outstanding car-buying experience, excellent service, and unbeatable deals. Highly
                    recommend!"</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="d-flex">
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Efficient, fair, and friendly - the perfect place to sell!</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="d-flex">
                  <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Superb service, fair prices, seamless process.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="d-flex">
                  <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>My encounter with Carizma during the sale of my vehicle was flawless. Their offer surpassed
                    others. The agent was punctual, friendly, and thorough in explaining paperwork. Afterward, I
                    received my check and my car was transported.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="d-flex">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Throughout the entire process, Carizma demonstrated exceptional attention, even sending
                    personal texts to ensure I was well-informed and had no unanswered questions. If you're looking
                    to sell a vehicle, Carizma should be your first destination.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </div>

  </div>

</section>
<!-- End Testimonials Section -->

<section id="about" class="about">

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-items-xl-center gy-5">

      <div class="col-xl-6 content">
        
      </div>

      <div class="col-xl-6">
        
      </div>

    </div>
  </div>

</section><!-- End About Section -->

<section id="call-to-action" class="call-to-action">

  <div class="container">
    <div class="row g-6">
        <div class="col-lg-6 wow fadeInUp" style="min-height: 400px;">
            <div class="position-relative h-100">
                    <video width="100%" min-height="400px" autoplay loop muted playsinline>
                        <source src="img/about-video.mp4" type="video/mp4">
                            <source src="img/about-video.ogg" type="video/ogg">
                    </video>
            </div>
        </div>
        <div class="col-lg-6 wow fadeInUp">
          <br /><br /><br /><br />
            <h1 class="mb-4">It's<span class="text-primary">Easy!</span></h1>
            <p class="mb-4">Follow these simple steps to sell your car
            </p>
        </div>
    </div>
</div>

</section>
<section id="faq" class="faq">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4" style="padding-top: 124px;">
        <div class="content px-xl-5">
          <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Duis aute irure dolor in reprehenderit
          </p>
        </div>
      </div>

      <div class="col-lg-8">

        <div class="faq-container">
          <div class="faq-item faq-active">
            <h3><span class="num">1.</span> <span>Who are we?</span></h3>
            <div class="faq-content">
              <p>Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur
                gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3><span class="num">2.</span> <span>How does instant offer work?</span></h3>
            <div class="faq-content">
              <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet
                id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque
                elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3><span class="num">3.</span> <span>Are you in my city?</span></h3>
            <div class="faq-content">
              <p>Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar
                elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque
                eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis
                sed odio morbi quis</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3><span class="num">4.</span> <span>What happens to my car?</span></h3>
            <div class="faq-content">
              <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet
                id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque
                elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3><span class="num">5.</span> <span>Can i buy a car from you?</span></h3>
            <div class="faq-content">
              <p>Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in.
                Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est.
                Purus gravida quis blandit turpis cursus in</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

        </div>

      </div>
    </div>

  </div>

</section>
<!-- End Faq Section -->

<!-- Features Section - Home Page -->
<section id="features" class="features">

  <!--  Section Title -->
  <div class="container section-title">
    <h2>Features</h2>
    <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
  </div>

  <div class="container">

    <div class="row gy-4 align-items-stretch justify-content-between features-item ">
      <div class="col-lg-6 d-flex align-items-center features-img-bg">
        <img src="assets/img/pickup-truck.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-5 d-flex justify-content-center flex-column">
        <h3>We’ll pick your car from anywhere!</h3>
        <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut
          quia voluptatem hic voluptas dolor doloremque.</p>
        <ul>
          <li><i class="bi bi-check"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
          <li><i class="bi bi-check"></i><span> Duis aute irure dolor in reprehenderit in voluptate velit.</span>
          </li>
          <li><i class="bi bi-check"></i> <span>Facilis ut et voluptatem aperiam. Autem soluta ad fugiat</span>.
          </li>
        </ul>
        <a href="#" class="btn btn-get-started align-self-start">Get the best price</a>
      </div>
    </div>

  </div>

</section>
<section id="contact" class="contact">

  <!--  Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Contact</h2>
    <!-- <p>Contact us get started</p> -->
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-6">

        <div class="row gy-4">
          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="200">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>A108 Adam Street</p>
              <p>New York, NY 535022</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="300">
              <i class="bi bi-telephone"></i>
              <h3>Call / Text Us</h3>
              <p>+1 5589 55488 55</p>
              <p>+1 6678 254445 41</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="400">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>info@example.com</p>
              <p>contact@example.com</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="500">
              <i class="bi bi-clock"></i>
              <h3>Open Hours</h3>
              <p>Monday - Friday</p>
              <p>9:00AM - 05:00PM</p>
            </div>
          </div><!-- End Info Item -->

        </div>

      </div>

      <div class="col-lg-6">
        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up"
          data-aos-delay="200">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required>
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required>
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required>
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Send Message</button>
            </div>

          </div>
        </form>
      </div><!-- End Contact Form -->

    </div>

  </div>

</section><!-- End Contact Section -->

<!-- Scroll Top Button -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>