<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <p class="aboutUsHeader text-format-montserrat">About Carizma - Your Premier Car Buyer</p>
    </div>
    <img class="groupImg" src="../../../assets/images/aboutUsGroupImg.jpg" alt="group" />
    <div class="align-items-center mb-5 row">
        <mat-card class="card col-md-6 col-sm-8 ">
            <mat-card-content>
                <img class="dots" src="../../../assets/images/dots.PNG" alt="signal" />
                <p class="cardHeader text-format-montserrat">Who we are</p>
                <p class="cardText text-format-open-sans">At Carizma, we are a team of dedicated professionals with
                    years of experience in the
                    automotive industry.
                    Our mission is to provide a hassle-free and transparent process for selling your cars, no matter the
                    make, model, or condition. Whether you have a gently used vehicle or one that has seen better days,
                    we
                    are here to make the selling process smooth, efficient, and rewarding for you.</p>
            </mat-card-content>
        </mat-card>
        <div class="apartTextDiv col-md-5 col-sm-12 ">
            <p class="apartText text-format-montserrat">What sets us </p>
            <p class="apartText text-format-montserrat">apart?</p>
        </div>
    </div>
    <div class="align-items-center row">
        <mat-card class="featuresCard col-md-4 col-sm-12">
            <mat-card-content>
                <span class="red"></span>
                <img class="featureImg" src="../../../assets/images/competitiveOffers.png" alt="Competitive Offers" />
                <p class="featureCardHeader mt-2 mb-3 text-format-montserrat">Competitive offers</p>
                <p class="cardText text-format-open-sans">We understand the value of your time and money. That's why we
                    provide quick and
                    competitive cash offers for your cars. No waiting, no negotiations—just a fair deal, straight away.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="featuresCard col-md-4 col-sm-12">
            <mat-card-content>
                <span class="yellow"></span>
                <img class="featureImg" src="../../../assets/images/anyConditionCar.png" alt="Any ConditionCar" />
                <p class="featureCardHeader mt-2 mb-3 text-format-montserrat">Any Condition Accepted</p>
                <p class="cardText text-format-open-sans">Worried about the condition of your car? Don't be! We buy cars
                    in any condition,
                    whether they're running smoothly, have mechanical issues, or are simply ready for retirement. Our
                    commitment is to make the selling process convenient for you.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="featuresCard col-md-4 col-sm-12">
            <mat-card-content>
                <span class="green"></span>
                <img class="featureImg" src="../../../assets/images/customerCentric.png" alt="Customer Centric" />
                <p class="featureCardHeader mt-2 mb-3 text-format-montserrat">Customer-Centric Approach</p>
                <p class="cardText text-format-open-sans">Your satisfaction is our priority. Our team is dedicated to
                    ensuring a positive
                    experience for every customer. From the moment you reach out to us to the final handshake, we aim to
                    exceed your expectations and build lasting relationships.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="visionFooter">
    <div class="d-flex align-items-center justify-content-around row">
        <img class="visionImg col-md-8 col-sm-12" src="../../../assets/images/aboutUsFooter.jpg" alt="Vision" />
        <div class="col-md-4 col-sm-12">
            <p class="visionHeader text-format-montserrat">
                Our Vision
            </p>
            <p class="visionText text-format-open-sans">
                At Carizma, we envision simplifying car selling, offering instant cash for any vehicle. Our goal is to
                redefine the industry, creating a trusted and efficient experience. We aspire to be the preferred
                choice, setting new standards for customer satisfaction and transparency. Join us on this journey to a
                hassle-free and rewarding car-selling future.
            </p>
        </div>
    </div>
    <div style="margin-top: 48px;">
        <p class="joinFamilyHeader text-format-montserrat">Try Carizma Experience</p>
        <div class="d-flex justify-content-center" style="margin-top: 16px; margin-bottom: 24px;">
            <p class="joinFamilyText col-md-6 mb-3 text-format-open-sans">Discover the ease and convenience of selling
                your car with Carizma. Whether you're upgrading to a new
                vehicle, downsizing, or simply looking to part ways with your current car, we're here to make the
                process seamless. Trust us to turn your car-selling experience into a positive and rewarding journey.
            </p>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" (click)="getBestPrice()" class="btn getPriceBtn ml-2 text-format-open-sans">Get the
                best price</button>
        </div>
    </div>
</div>