mat-form-field {
  width: 89%;
  height: 80%;
}


a:hover:after {
  background-image: url("../../../assets/images/VIN-helptext.png");
  background-repeat: no-repeat;
  background-size: 250px;
  display: block;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 111, 232);
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  line-height: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  outline: none;
  border: none;
  background: none;
  padding-top: 8px;
  font-size: 12px;
}


.btn-go {
  margin-bottom: 14px;
  width: 50%;
  border: 2px solid #67A6F8;
  background: #67A6F8;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 15px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 15px;
}
.btn-go:hover{
  box-shadow: 2px 1px 5px black ;
}

.mat-mdc-raised-button.mat-unthemed {
  --mdc-protected-button-container-color: #BDF279;
  --mdc-protected-button-label-text-color: #000;
}

.getOfferBtn{
  background-color: #67A6F8;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 30px;
  width: 100%;
  border-radius: 10px;
}