<div class="container">
    <div class="d-flex align-items-center justify-content-center">
        <span class="rectangleHighlighter"></span>
        <div style="margin-top:3rem">
            <span class="headerText text-format-montserrat">Selling your car with Carizma is as easy as 1-2-3. </span>
            <span class="headerText text-format-montserrat"> We've streamlined the process to make it </span>
            <span class="headerText text-format-montserrat">convenient, transparent, and easy.</span>
        </div>
    </div>
    <div class="body">
        <div class='d-flex'>
            <div class="col-xs-6 col-md-6 d-flex justify-content-center mt-8">
                <img class="images" src="../../../assets/images/car-how-work.png" alt="car" />
            </div>
            <div class="col-xs-1 col-md-1 mt-5">
                <img src="../../../assets/images/number1.png" alt="one" />
                <img src="../../../assets/images/connection1.png" alt="connection">
            </div>
            <div class="col-xs-5 col-md-5">
                <p class="textHeader text-format-montserrat">Tell Us About Your Car</p>
                <p class="text text-format-open-sans">Share your car's details online or call us. Provide info on make, model, and condition.
                    The more details, the better.</p>
            </div>
            <div>
                <img class="signal" src="../../../assets/images/redSignal.png" alt="signal" />
            </div>
        </div>
        <div class='d-flex mt-6'>
            <div>
                <img class="yellowSignal" src="../../../assets/images/yellowSignal.png" alt="signal" />
            </div>
            <div class="col-xs-6 col-md-6 d-flex justify-content-center mt-8">
                <img src="../../../assets/images/dollar.png" alt="dollar" />
            </div>
            <div class="col-xs-1 col-md-1 mt-3 connection">
                <img src="../../../assets/images/number2.png" alt="number" />
                <img src="../../../assets/images/connection2.png" alt="connection" />
            </div>
            <div class="col-xs-5 col-md-5 dealText">
                <p class="textHeader text-format-montserrat">Get the Best Deal</p>
                <p class="text text-format-open-sans">Receive an instant cash offer—fair, transparent, and competitive. No negotiations, no
                    hidden fees. Accept the offer to move forward.</p>
            </div>
        </div>
        <div class='d-flex mt-6' style="padding-bottom: 15rem;">
            <div class="col-xs-6 col-md-6 d-flex justify-content-center mt-8">
                <img style="height:15rem" class="col-xs-5 col-md-5 images" src="../../../assets/images/carryingCar.png"
                    alt="towing" />
            </div>
            <div class="col-xs-1 col-md-1 mt-3 connection2">
                <img src="../../../assets/images/number3.png" alt="car" />
            </div>
            <div class="col-xs-5 col-md-5">
                <p class="textHeader text-format-montserrat">We Pick Up Your Car</p>
                <p class="text text-format-open-sans">We schedule a convenient pick-up time at your location. Whether at home or work, we
                    handle logistics. Hand over the keys and get your payment hassle-free.</p>
            </div>
            <div>
                <img src="../../../assets/images/greenSignal.png" alt="signal" />
            </div>
        </div>
    </div>
</div>
<div>
<div class="getPriceSection d-flex align-items-center d-flex justify-content-center">
    <div class="col-xs-7 col-md-7">
    <p class="sellingtText text-format-open-sans">
        Selling your car is a breeze with Carizma. Experience a stress-free and efficient transaction. Sell on
        your terms—let us handle the rest!
    </p>
    </div>
    <div class="col-xs-4 col-md-4 d-flex justify-content-center">
    <button type="button" (click)="getBestPrice()" class="btn getPriceBtn ml-2 text-format-open-sans">Get the best price</button>
</div>
</div>
</div>