<mat-card class="card11">

  <mat-tab-group animationDuration="100ms">
    <mat-tab label="License Plate">
      <app-license-plate-selection></app-license-plate-selection>
    </mat-tab>
    <mat-tab label="VIN">
      <app-vin-selection></app-vin-selection>
    </mat-tab>
    <mat-tab label="Make/Model">
      <app-vechile-selection></app-vechile-selection>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<!-- <div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Licence plate</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">VIN</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Make / Model</button>
</div>

<div id="London" class="tabcontent">
  <div class="row">
    <div class="col-sm-6">
      <input type="text" name="name" class="form-control" placeholder="Your Name" required>
    </div>

    <div class="col-sm-6 ">
      <input type="email" class="form-control" name="email" placeholder="Your Email" required>
    </div>
  </div>
  <br />
  <input type="submit" class="btn btn-primary width-100" value="Get my quote">
</div>

<div id="Paris" class="tabcontent">
  <h3>VIN</h3>
  <p>Vin details</p>
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Make / Model</h3>
  <p>Details</p>
</div>

<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script> -->